<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New League</title>
</head>

<body>
    <h1>Enter a New League</h1>
    <form action="/leagues" method="post">
        <label for="name">
            name: <input type="text" name="name" id="name">
        </label>
        <label for="founded">
            founded: <input type="text" name="founded" id="founded">
        </label>
        <label for="number_of_teams">
            number_of_teams: <input type="text" name="number_of_teams" id="number_of_teams">
        </label>
        <label for="champion">
            champion: <input type="text" name="champion" id="champion">
        </label>
        <label for="region">
            region: <input type="text" name="region" id="region">
        </label>
        <label for="country">
            country: <input type="text" name="country" id="country">
        </label>
        <label for="image">
            image: <input type="text" name="image" id="image">
        </label>
        <button type="submit">Submit New Team</button>
    </form>
    <form action="/leagues">
        <button>Back</button>
     </form>
     <form action="/">
        <button>Home</button>
     </form>
</body>

</html>